<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <div>
        <fieldset>  
          <form method="post">
            <input type="text" name="uid" placeholder="아이디"/>
            <br/>
            <input type="password" name="upw" placeholder="비밀번호"/>
            <br/>
            <input type="submit" value="로그인"/>
          </form>
        </fieldset>
    </div>
  </body>
</html>
